<div class="contents row">
  <p><%= @name %>さんの投稿一覧</p>
  <% @toilets.each do |toilet| %>
    <%= link_to toilet_path(toilet.id) do %>
    <%= image_tag toilet.image, class: "toilet-img" %>

    <% end %>
  <% end %>
</div>